apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: authentik
resources:
  - namespace.yaml
  - cnpg-cluster.yaml
  - helmrelease-authentik.yaml
  - ingressroute-authentik.yaml
