apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 10m
  chart:
    spec:
      chart: traefik
      version: 37.2.0
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  install:
    createNamespace: false
  values:
    deployment:
      replicas: 2
    providers:
      kubernetesCRD:
        enabled: true
        allowCrossNamespace: true
      kubernetesIngress:
        enabled: false
    ingressClass:
      enabled: true
      isDefaultClass: true
    ingressRoute:
      dashboard:
        enabled: true
        annotations:
          kubernetes.io/ingress.class: traefik
    certificatesResolvers:
      letsencrypt:
        acme:
          email: "encrypt@hide.cherkaoui.ch"
          storage: "/data/acme.json"
          dnsChallenge:
            provider: cloudflare
            resolvers:
              - "1.1.1.1:53"
              - "8.8.8.8:53"
    envFrom:
      - secretRef:
          name: cloudflare-dns
    persistence:
      enabled: true
      path: "/data"
    securityContext:
      runAsNonRoot: false
      runAsUser: 0
      capabilities:
        drop: ["ALL"]
        add: ["NET_BIND_SERVICE"]
    ports:
      web:
        port: 80
        exposedPort: 80
      websecure:
        port: 443
        exposedPort: 443
        tls:
          enabled: true
      metrics:
        port: 9101
        exposedPort: 9101
      ssh:
        port: 22
        exposedPort: 22
        tls:
          passthrough: true
    hostNetwork: false
    service:
      type: LoadBalancer
      annotations:
        service.beta.kubernetes.io/external-traffic: OnlyLocal
    metrics:
      prometheus:
        service:
          enabled: true
    additionalArguments:
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
